version: "3.9"
services:
  ruuter:
    container_name: ruuter
    image: ruuter
    environment:
      - application.cors.allowedOrigins=http://localhost:3001
      - application.httpCodesAllowList=200,201,202,400,401,403,500
      - application.logging.displayRequestContent=true
      - application.logging.displayResponseContent=true
    volumes:
      - ./DSL/Ruuter:/DSL
      - ./constants.ini:/app/constants.ini
    ports:
      - 8080:8080
    networks:
      - bykstack
    cpus: "0.5"
    mem_limit: "512M"

  resql:
    container_name: resql
    image: resql
    #    depends_on:
    #      - users_db
    environment:
      - sqlms.datasources.[0].name=byk
      # - sqlms.datasources.[0].jdbcUrl=jdbc:postgresql://users_db:5432/byk //For LocalDb Use
      - sqlms.datasources.[0].jdbcUrl=jdbc:postgresql://171.22.247.13:5433/byk?sslmode=require
      - sqlms.datasources.[0].username=byk
      - sqlms.datasources.[0].password=2nH09n6Gly
      - logging.level.org.springframework.boot=INFO
    ports:
      - 8082:8082
    volumes:
      - ./DSL/Resql:/workspace/app/templates/byk
    networks:
      - bykstack

  #  users_db:
  #    container_name: users_db
  #    image: postgres:14.1
  #    environment:
  #      - POSTGRES_USER=byk
  #      - POSTGRES_PASSWORD=01234
  #      - POSTGRES_DB=byk
  #    ports:
  #      - 5433:5432
  #    volumes:
  #      - ./data:/var/lib/postgresql/data
  #    networks:
  #      - bykstack

  gui_dev:
    container_name: gui_dev
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - REACT_APP_API_URL=http://localhost:8080
      - REACT_APP_BUEROKRATT_CHATBOT_URL=http://buerokratt-chat:8080
      - REACT_APP_OPENSEARCH_DASHBOARD_URL=https://opensearch.org/
      - REACT_APP_OPENDATAPORT_URL=https://avaandmeddev.eesti.ee
      - REACT_APP_RUUTER_API_URL=http://localhost:8080
      - REACT_APP_RUUTER_V2_ANALYTICS_API_URL=http://localhost:8080
      - REACT_APP_MENU_URL=https://admin.dev.buerokratt.ee
      - REACT_APP_MENU_PATH=/chat/menu.json
      - REACT_APP_AUTH_BASE_URL=http://localhost:8080
      - REACT_APP_APP_PORT=3001
      - REACT_APP_LOCAL=true
      - REACT_APP_AUTH_PATH=/mock-response
      - REACT_APP_BASE_API_PATH=/
      - PORT=3001
      - REACT_APP_RUUTER_PRIVATE_API_URL=http://localhost:8080
    build:
      context: ./GUI
      dockerfile: Dockerfile.dev
    ports:
      - 3001:3001
    volumes:
      - /app/node_modules
      - ./GUI:/app
    networks:
      - bykstack
    cpus: "0.5"
    mem_limit: "4G"

  data_mapper:
    container_name: data_mapper
    image: data-mapper
    volumes:
      - ./DSL:/data
      - ./DSL/DMapper/hbs:/workspace/app/views/analytics
      - ./DSL/DMapper/js:/workspace/app/js/analytics
    environment:
      - PORT=3000
      - CONTENT_FOLDER=/data
    ports:
      - 3000:3000
    networks:
      - bykstack

  cron-manager:
    container_name: cron-manager
    image: cron-manager
    volumes:
      - ./DSL/CronManager:/DSL
    environment:
      - server.port=9010
    ports:
      - 9010:8080
    networks:
      - bykstack

  tim:
    container_name: tim
    image: tim
    depends_on:
      - tim-postgresql
    environment:
      - SECURITY_ALLOWLIST_JWT=resql,tim,tim-postgresql,ruuter,data_mapper,gui_dev,127.0.0.1,::1
    ports:
      - 8085:8085
    networks:
      - bykstack
    extra_hosts:
      - "host.docker.internal:host-gateway"
    cpus: "0.5" # Example CPU limit
    mem_limit: "512M" # Example memory limit

  tim-postgresql:
    container_name: tim-postgresql
    image: postgres:14.1
    environment:
      - POSTGRES_USER=tim
      - POSTGRES_PASSWORD=123
      - POSTGRES_DB=tim
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - ./tim-db:/var/lib/postgresql/data
    ports:
      - 9876:5432
    networks:
      - bykstack

networks:
  bykstack:
    name: bykstack
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: 1400
