.sidebar-container {
  width: 300px;
  background: white;
  position: absolute;
  top: 0;
  right: 0;
  transition: 500ms ease-in-out;
}

.sidebar-hidden {
    translate: 100%;
}

.title-row {
  display: flex;
  justify-content: space-between;
}
