@import 'src/styles/tools/color';

.draggable-card {
  flex: 1 1 30%;
  text-align: center;
  cursor: grab;
  .icon {
    margin-left: -24px;
    opacity: 0;
  }

  &:hover {
    .icon {
      opacity: 1;
    }
  }

  &.dragging {
    .card {
      background: get-color(sapphire-blue-0);
      border: 1px dotted get-color(sapphire-blue-10);
    }
  }

  .title-track {
    margin: 0px 12px;
  }

  .title {
    font-size: 14px;
    color: get-color(black-coral-10);
    text-transform: uppercase;
    text-align: left;
    padding: 4px 0px;
    display: block;
    width: 100%;
    border-bottom: 1px solid get-color(black-coral-2);
  }
}
