@import 'src/styles/tools/color';
@import 'src/styles/tools/spacing';
@import 'src/styles/settings/variables/typography';

.kpi-card {
  &--highlighted .card {
    background-color: #ecf6fe;
  }

  &__title {
    width: 100%;
    padding-bottom: get-spacing(paldiski);
    margin-bottom: get-spacing(elva);
    border-bottom: 1px solid get-color(black-coral-2);
    color: get-color(black-coral-6);
    font-size: $veera-font-size-80;
    font-weight: 400;
    text-transform: uppercase;
  }
}
