.toggle-button {
    background: #fff;
    color: #000;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 1rem;
    padding: .3rem 1.5rem;
    margin: .2rem;
}

.selected {
    background: #004277;
    color: #fff;
}