.input, .textarea, .select {
  display: block !important;
  min-width: 250px;
  flex: 1;
}

input.error, textarea.error, select.error {
  border-color: red;
}

.interval-explanation {
  min-width: 250px;
  flex: 1;
  
}
