@import 'src/styles/tools/color';
@import 'src/styles/settings/variables/typography';

.additional-option-label {
  width: 9.5rem;
  color: get-color(black-coral-6);
  font-size: $veera-font-size-80;
  font-weight: 700;
  text-transform: uppercase;
}

.two-columns-container {
  columns: 2;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;

  div.track {
    margin-right: 1rem;
  }
}
