@import 'src/styles/tools/color';
@import 'src/styles/tools/spacing';
@import 'src/styles/settings/variables/typography';

.metrics_charts {
  height: 100%;
  display: flex;

  &__csv {
    color: #005AA3;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.metrics_header {
  display: flex;
  flex-direction: column;
  gap: get-spacing(paldiski);
  width: 100%;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: get-spacing(haapsalu);
  }

  &__title {
    margin: 0;
    color: get-color(black-coral-6);
    font-size: $veera-font-size-100;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__legend {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: get-spacing(haapsalu);
    align-items: center;
  }

  &__legend-item {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  &__legend-icon {
    width: 12px;
    height: 12px;
    border-radius: 3px;
    flex-shrink: 0;
  }

  &__legend-label {
    color: get-color(black-coral-6);
    font-size: $veera-font-size-80;
    white-space: nowrap;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: get-spacing(haapsalu);
    width: max-content;
    margin-left: auto;
  }

  &__select {
    width: 200px;
  }
}

.charts_wrapper {
  .recharts-wrapper {
    height: 100% !important;

    & > svg {
      height: auto !important;
    }
  }
}